

* {
  margin: 0;
  
  box-sizing: border-box;
  font-family: "AvenirNext Regular" ;
}

.btn {
  font-family: "AvenirNext Regular" !important;
}

body {
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #fff !important;
  font-family: "AvenirNext-Medium";
}

.error {
  color: #EC0011 !important;
  font-family: 'AvenirNext Regular' !important;
  margin-bottom: 0;
}

.error-text {
  color:#EC0011;
}

.btn {
  border-color: #e6e6e6 !important;
  background-color: #e6e6e6;
  color: black
}

.btn:focus {
  box-shadow: none !important;
}


.btn:hover {
  background-color: #000 !important;
}

.active {
  background-color: #000 !important;
}



